button {
  outline: none;
  border: none;
  background: none;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &.primary {
    background-color: var(--primary-color);
    border-radius: var(--radius);
    padding: var(--spacing-2) var(--spacing-3);
    color: var(--white-color);

    &:hover {
      opacity: 0.9;
    }
  }
}
