button {
  outline: none;
  border: none;
  background: none;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0 var(--spacing-3);
  height: var(--spacing-8);
  cursor: pointer;

  &.primary {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--white-color);

    &:hover {
      opacity: 0.9;
    }
  }
}
