<section class="max-w-2xl mx-auto my-12">
  <h1 class="font-bold text-2xl">Lorem ipsum dolor sit amet.</h1>
  <p class="mt-2 mb-8">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut commodi,
    dicta, dignissimos dolorem doloribus earum eos eveniet maxime molestias
    nesciunt obcaecati odio porro possimus praesentium quidem repellendus sit
    ut.
  </p>
  <!-- Image Carousel -->
  <h2 class="font-semibold text-lg mb-2">Amenities:</h2>
  <ul class="list-disc list-inside">
    <li>Free Wi-Fi</li>
    <li>Television</li>
    <li>Tea/Coffee Making Facilities</li>
    <li>Mini Fridge</li>
    <li>Fitness Center/Gym</li>
  </ul>
  <div class="flex flex-col items-end space-y-2">
    <div class="font-medium text-lg">$200</div>
    <sh-button>Reserve</sh-button>
  </div>
</section>
