input {
  outline: none;
  border: 1px solid var(--secondary-color);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--radius);

  &:focus {
    outline: 1px solid var(--primary-color);
  }
}
