<section class="bg-primary text-white text-center py-8">
  <h1 class="font-bold text-6xl mb-4">Find your perfect getaway</h1>
  <p class="text-2xl">
    Search for accommodations, compare prices, and book your next trip.
  </p>
  <sh-search class="mt-12" />
</section>

<section
  class="grid grid-cols-4 p-6 gap-6"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  @for (accommodation of accommodations; let i = $index; track i) {
    <sh-accommodation-card [data]="accommodation" />
  }
</section>
