<div class="container mx-auto">
  <section class="flex items-center justify-between my-12 gap-x-6">
    <div class="space-y-4">
      <h1 class="font-black text-7xl">Let's <span class="underline decoration-orange-500 decoration-4">travel</span> the world</h1>
      <p class="font-medium text-zinc-500 text-lg"
        >Enjoy the breathtaking view of the nature. Relax and cherish your
        dreams to the fullest.</p
      >
    </div>
    <div class="flex items-center gap-x-6">
      <div class="space-y-6">
        <div class="relative w-[250px] h-[300px]">
          <img
            ngSrc="assets/images/denys-nevozhai-guNIjIuUcgY-unsplash.jpg"
            alt=""
            fill
            class="rounded-xl object-cover"
          />
        </div>
        <div class="relative w-[250px] h-[300px]">
          <img
            ngSrc="assets/images/ryan-spencer-XGKaRnWjv1c-unsplash.jpg"
            alt=""
            class="rounded-xl object-cover"
            fill
          />
        </div>
      </div>
      <div class="relative w-[250px] h-[300px]">
        <img
          ngSrc="assets/images/shifaaz-shamoon-qtbV_8P_Ksk-unsplash.jpg"
          alt=""
          class="rounded-xl object-cover"
          fill
        />
      </div>
    </div>
  </section>

  <!--<section class="bg-primary text-white text-center py-8 px-4">-->
  <!--  <h1 class="font-bold text-6xl mb-4">Find your perfect getaway</h1>-->
  <!--  <p class="text-2xl">-->
  <!--    Search for accommodations, compare prices, and book your next trip.-->
  <!--  </p>-->
  <!--  <sh-search class="mt-12" />-->
  <!--</section>-->

  <!--<section-->
  <!--  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-6 gap-6"-->
  <!--  infinite-scroll-->
  <!--  [infiniteScrollDistance]="2"-->
  <!--  [infiniteScrollThrottle]="50"-->
  <!--  (scrolled)="onScroll()"-->
  <!--&gt;-->
  <!--  @for (accommodation of accommodations; let i = $index; track i) {-->
  <!--    <sh-accommodation-card [data]="accommodation" />-->
  <!--  }-->
  <!--</section>-->
</div>
