<div class="rounded-lg overflow-hidden border border-secondary">
  <div class="h-52 relative">
    <img
      [ngSrc]="data.images[0]"
      [alt]="data.title"
      fill
      style="object-fit: cover"
    />
  </div>
  <div class="p-4 h-[192px] flex flex-col gap-y-2">
    <h1 class="font-bold text-xl line-clamp-1">{{ data.title }}</h1>
    <div class="flex items-center justify-between">
      <sh-stars [stars]="data.stars" />
      <div class="flex gap-x-1 items-center text-sm">
        <div>{{ data.rating }}</div>
        <div>({{ data.reviews }} reviews)</div>
      </div>
    </div>
    <p class="line-clamp-2">{{ data.summary }}</p>
    <div class="flex items-center justify-between mt-auto">
      <div class="font-semibold">${{ data.price }}/night</div>
      <a [routerLink]="'accommodations/' + data._id">
        <sh-button>Book Now</sh-button>
      </a>
    </div>
  </div>
</div>
