<div class="rounded-lg overflow-hidden border border-secondary">
  <img src="assets/dino-reichmuth-A5rCN8626Ck-unsplash.jpg" alt="" />
  <div class="p-4 space-y-2">
    <h1 class="font-bold text-xl">Luxury Beach Villa</h1>
    <div class="flex items-center justify-between">
      <sh-stars [stars]="3" />
      <div class="flex gap-x-1 items-center text-sm">
        <div>4.3</div>
        <div>(123 reviews)</div>
      </div>
    </div>
    <p>Beachfront villa with private pool and stunning ocean views.</p>
    <div class="flex items-center justify-between">
      <div class="font-semibold">$350/night</div>
      <sh-button>Book Now</sh-button>
    </div>
  </div>
</div>
